@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}


body {
	line-height: 17px;
	background-color: #E6EAE8;
}

a{
	color: #35a2ff;
	text-decoration: none;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 40px;
	background-color: #20aae5;
	border-bottom: 0.25em solid #1894ca;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

.logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #1086BA;
}

a:hover {
	text-decoration: none;
}

/* Dark Mode Toggle */
:root {
  --navHeight: 70px;
  --sage: #D2CCA1;
  --paleSpringBud: #DEDABA;
  --goldCrayola: #E5C687;
  --richBlackForeground: #0F1A20;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #2D4739;
  --gray: #eee;
}

.themeSwitchToggle{
	display: flex;
  align-items: center;
  z-index: 100;
  position: absolute;
  right: 190px;
  top: 15px;
}

.light-theme {
    background-color: #ded9d9;
}

.dark-theme {
	background-color: #232323;
}

* {
  margin: 0;
  padding: 0;
}


.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 27px;
  border-radius: 50px;
  padding: 0 3px;
  box-sizing: border-box;
  cursor: pointer;
  bottom: 11px;
  right: -15px;
}

.fa-adjust {
  transform: rotate(180deg);
}

.switch input {
  display: none;
}

.slider {
  background-color: #999;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
}

input:checked + .slider {
  transform: translateX(8px);
}



nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	border-bottom: 7px solid #e67e22;
	color: #fff;
}

.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
	color: #555;
}

.user_details {
	width: 250px;
	float: left;
	margin-bottom: 20px;
}

.user_details img {
	height: 120px;
	border-radius: 5px;
	margin-right: 5px;
}

.user_details_left_right {
	width: 120px;
	display: inline-table;
	position: absolute;
}

.main_column {
	float:right;
	width: 70%;
	z-index: -1;
	min-height: 165px;;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	width: 81%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"] {
	width: 11%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #1E75CA;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}


/* comment_frame.phpのスタイルシート */
#comment_iframe{
	max-height: 300px;
	width: 100%;
	margin-top: 10px;
}

.comment_section{
	padding: 0 5px 5px 5px;
}

.comment_section img{
	border-radius: 5px;
	margin: 0 5px 5px 5px;
}

#comment_form textarea{
	border-color: #E6E6FA;
	height: 45px;
  width: 80%;
  border-radius: 7px;
  font-size: 14px;
  margin: 5px 7px 7px 5px;
}

#comment_form input[type="submit"]{
	border:none;
	background-color: #00BFFF;
	color: #fff;
	border-radius: 5px;
	width: 15%;
	height: 45px;
	margin-top: 5px;
	position: absolute;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.newsfeedPostOptions{
	color: #35a2ff;
	padding: 0;
	text-decoration: none;
	border: none;
}


/* like・Unlikeのスタイルシート */
.newsfeedPostOptions iframe{
	border: none;
	height: 15px;
	width: 150px;
}

.comment_like{
	background-color: transparent;
  border: none;
	font-size: 14px;
	padding: 0;
	margin: 0;
	height:auto;
	width:auto;
	color: #35a2ff;
}

.like_value{
	display: inline;
	font-size: 14px;
}

.newsfeedPostOptions form{
	top: 0;
	position: absolute;
}



/* profile.phpのスタイルシート */

.profile_left{
	top: 40px;
	width: 15%;
  max-width: 240px;
  min-width: 130px;
  height: 100%;
  float: left;
  position: relative;
  background-color: #37B0E9;
  border-right: 10px solid #70e8fb;
  color: #fffcfa;
  margin-right: 20px;
	position: fixed;
}

.profile_left img{
	min-width: 80px;
	width: 50%;
	margin: 15px;
	border: 5px solid #70e8fb;
	border-radius: 100px;
}

.profile_info {
	display: list-item;
  background-color: #186c9c;
  width: 100%;
  padding: 0 10px 0 10px;
}

.profile_info p{
	margin:0 0 0 20px;
	word-wrap: break-word;
}

.danger{
	background-color: #e74c3c;
}

.warning{
	background-color: #f0ad4e;
}

.default{
	background-color: #bdc3c7;
}

.success{
	background-color: #2ecc71;
}

.info{
	background-color: #3498db;
}

.deep_blue{
	background-color: #0043f0;
}

.profile_left input[type="submit"]{
	margin: 8px 0 0 8px;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.profile_main_column{
	min-width:700px;
	float:left;
	width:75%;
	z-index:-1;
}

.profile_info_bottom{
	margin: 10px;
}


/* requests.phpのスタイルシート */

#accept_button{
	height: 30px;
	width: 20%;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}

#ignore_button{
	height: 30px;
	width: 20%;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}


/* 投稿の削除ボタン */
.delete_button{
	width: 20px;
  height: 20px;
	padding: 0;
  float: right;
  border-radius: 5px;
  right: -15px;
  position: relative;
}


/* message.phpのスタイルシート */
#message_textarea{
	width: 80%;
  margin-right: 10px;
	border: 2px solid #c1c2c3;
  font-size: 14px;
}
 
#message_submit{
	height: 39px;
	width: 115px;
	margin: 0 0 0 10px;
	position: absolute;
	border: none;
	color: #fff;
	border:none;
	background-color: #00BFFF;
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.message{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue{
	float:right;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #3faaf7;
}

.message#green{
	float: left;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #2ecc71;
}

.loaded_messages{
	height: 65%;
  min-height: 300px;
  max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}

.loaded_conversations{
	max-height: 260px;
	overflow: scroll;
}

.user_found_messages{
	border-bottom: 1px solid #b7b7b7;
	padding: 10px 10px 10px 10px;
}

.user_found_messages:hover{
background-color:#b7b7b7;
}

.user_found_messages img{
	height: 35px;
	float: left;
}

#grey{
	color: #404040;
	margin: auto;

}

.resultDisplay{
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #b7b7b7;
}

.resultDisplay a{
	float:none;
}

.resultDisplay:hover{
	background-color:#b7b7b7;
}

.liveSearchProfilePic img{
	height: 45px;
	border-radius: 100%;
	float: left;
	margin: 1px 12px 0 12px;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
	margin:  -2px;
}

/* profileページのCSS */
.tab-content{
	margin-top: 20px;
}


/* ドロップダウンボックスのスタイルシート */
.dropdown_data_window {
  background-color: #fff;
  border: 1px solid #DADADA;
  border-radius: 0 0 8px 8px;
  border-top: none;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow: scroll;
}


/* notificationのバッジのスタイルシート */
.notification_badge{
	padding: 1px 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #f50606;
  border-radius: 100%;
  position: absolute;
  left: 12px;
  top: -5px;
}


.resultDisplayNotification{
	height: auto;
  color: #24aece;
	padding-bottom: 10px;
}

.resultDisplayNotification img{
	height: 35px;
  border-radius: 5px;
  margin: 1px 5px 0 1px;
  float: left;
}

.timestamp_smaller{
	font-size:85%;
	margin: 0;
}


/* header.phpの検索バーのスタイルシート */
.search{
	margin: 6px 0 0 15%;
}

.search #search_text_input{
	border: thin solid #ccc;
	float: left;
	height: 22px;
	outline: 0;
	width: 100px;
}

.button_holder{
	float: right;
  background-color: #f1f1f1;
  border: thin solid #f1f1f1;
  height: 22px;
  cursor: pointer;
  text-align: center;
  width: 34px;
}


.button_holder img{
	margin-top: 1px;
  width: 20px;
}

/* 検索ボックス結果表示のスタイルシート */
.search_results{
	background-color: #fff;
  border: 1px solid #DADADA;
  border-bottom: none;
  border-top: none;
  margin-top: 25px;
}

.search_results_footer{
	padding: 6px 5px 0 3px;
  height: 28px;
  border: 1px solid #DADADA;
  border-top: none;
  background-color: #89efc9;;
  text-align: center;
}

.search_results_footer a{
	color:#fff;
}

/* 検索結果ページのスタイルシート */
.search_result{
	padding: 10px;
	height: 100px;
}

.searchPageFriendButtons{
	float: right;
}

.searchPageFriendButtons input[type="submit"]{
	padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.result_profile_pic{
	float: left;
  margin-right: 10px;
}

#search_hr{
	margin-bottom:0
}


/* setting.phpのスタイルシート */
.small_profile_pic{
	height: 60px;
	margin: 1px 10px 0px 2px;
	float: left;
}

#settings_input{
	border: 1px solid #ccc;
	height: 20px;
	padding: 4px 4px;
	margin-bottom: 7px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 15px;
}

.settings_submit{
	padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
